{% extends "app/layout.html" %}

{% block content %}

    <section id="loginForm">
        <div class='container'>
            <div class="row">
                <form action="." method="post" class="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">User name</label>
                        <div class="col-md-10">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        <div class="col-md-10">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    {% if form.errors %}
                    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
