<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Surgutov Mihail - Personal Portfolio Template</title>
    </head>
	<body>
		<section id="latest-works" class="latest-works section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Собственный <span>сайт</span> портфолио</h2>
						</div>
					</div>
				</div>
				<hr></hr>
				<div class="row">
					<div class="col-xs-12">
						<div class="section-content">
							<p>Первый собственный сайт!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
        <section id="latest-works" class="latest-works section">
			<div class="container-fluid">
				<div class="row">
                {% for work in works%}

                {% endfor %}
				</div>
			</div>
		</section>
	</body>
</html>